.container{
    width: 900px;
    height: 700px;
    background-color: yellowgreen;
    margin: 10px;
    border: 1px solid red;
    margin: 30px;
}

.box{
    background-color: aqua;
    height: 300px;
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    
    /* transition: background-color 2s ease-in-out 3s;
     */

    transition: all 5s ease 1s ;
    

 
}

.box:hover{

    /* background-color: red;

    transform: rotate(45deg); */
    
    transform: scale(2) translateX(700px) rotate(360deg) ;
}