*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}
.container h1{
    text-align: center;
    margin: 20px 0px;
    margin-bottom: 20px;
    font-size: 3rem;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;    
}

.card img
{
    height: 100%;
 
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20x #333;
    object-fit: cover;
}

.card :hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 20px green);
    box-shadow: 1px 1px grey;
    transition: 0.3s;
}